<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel2 Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
